# Dependencies
node_modules/
.pnpm-store/
.vercel
.turbo

# Build outputs
dist/
build/
out/
.output/
.pulumi/
.next/

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Environment
.env
.env.*
!.env.example

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - JetBrains
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.pem

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Cache directories
.npm
.eslintcache
.stylelintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
